#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  background-color: #3167F2;
  width: 1000px;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
  padding: 20px 0;

}